#tela {
    width: 75%;
    height: 80%;
    margin: 2%;
    border: 1px solid #ccc;
    border-radius: 20px;
    float: left;
    min-height: 318px;
    min-width: 850px;
}

#menu {    
    width: 15%;
    height: 80%;
    margin: 2%;
    float: right;
    border: 1px solid #ccc;
    border-radius: 20px;
    min-height: 318px;
    min-width: 185px;
    padding-top: 3%;
}

.botaoMenuDiv{
    width: 70%;
    position: relative;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.botaoMenu {
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 10px;
}

.itemMenu {
    margin-bottom: 15%
}

